// Configuración de Niri
prefer-no-csd

// --- VARIABLES DE ENTORNO ---
environment {
    XCURSOR_THEME "Breeze Dark"
    XCURSOR_SIZE "18"

    XDG_CURRENT_DESKTOP "Niri"
    XDG_SESSION_TYPE "wayland"

    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORM "wayland;xcb"
    SDL_VIDEODRIVER "wayland"
    GDK_BACKEND "wayland,x11"
    MOZ_ENABLE_WAYLAND "1"
}

cursor {
    //xcursor-theme "Breeze Dark"
    //xcursor-size 18
    hide-when-typing
    hide-after-inactive-ms 10000
}

switch-events {
    lid-close { spawn "loginctl" "lock-session"; }
}

input {

    // niri-settings
    // warp-mouse-to-focus
    // focus-follows-mouse
    // disable-power-key-handling
    // workspace-auto-back-and-forth

    mod-key "super"

    keyboard {
        xkb {
            layout "us"
            variant "altgr-intl"

            // For example:
            //		layout "us,latam"
            //          variant "altgr-intl,"
            //		options "grp:win_space_toggle" //,compose:ralt,ctrl:nocaps"
        }

        // Activa NumLock al iniciar.
        numlock
        track-layout "global"
        repeat-delay 600
        repeat-rate 25
    }

    touchpad {
        tap
        natural-scroll
        drag true
        click-method "button-areas"
        scroll-method "two-finger"
        accel-speed 0.20
        accel-profile "adaptive"
        tap-button-map "left-right-middle"
        scroll-factor 1.0
    }

    mouse {
        accel-speed 0.20
        accel-profile "flat"
        scroll-factor 1.0
    }

    trackpoint {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "on-button-down"
        // scroll-button 273
        // scroll-button-lock
        // middle-emulation
    }

    // Cambia el foco automáticamente al mover el mouse sobre una ventana.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse
}

// --- CONFIGURACIÓN DE SALIDAS (MONITORES) ---
output "HDMI-A-1" {
    mode "1360x768@60.015"
    scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"
    position x=0 y=0
}

output "eDP-1" {
    mode "1366x768@60.003"
    scale 1.0
    transform "normal"
    position x=0 y=768
}

// --- DISEÑO DE VENTANAS (LAYOUT) ---
layout {
    background-color "transparent"

    gaps 14
    default-column-display "tabbed"

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit together with the previously focused column.
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 0.8
    }

    // You can also customize the heights that "switch-preset-window-height" (Mod+Shift+R) toggles between.
    // preset-window-heights { }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }

    focus-ring {
        on
        width 3

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 0, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        //  active-color "hsl(321, 100%, 79%)"

        // Color of the ring on inactive monitors.
        //
        // The focus ring only draws around the active window, so the only place
        // where you can see its inactive-color is on other monitors.
        //   inactive-color "#505050"

        // You can also use gradients. They take precedence over solid colors.
        // Gradients are rendered the same as CSS linear-gradient(angle, from, to).
        // The angle is the same as in linear-gradient, and is optional,
        // defaulting to 180 (top-to-bottom gradient).
        // You can use any CSS linear-gradient tool on the web to set these up.
        // Changing the color space is also supported, check the wiki for more info.
        //
        //active-gradient from="#008cff" to="#bf00ff" angle=45

        // You can also color the gradient relative to the entire view
        // of the workspace, rather than relative to just the window itself.
        // To do that, set relative-to="workspace-view".
        //
        // inactive-gradient from="#00e5ff" to="#bf00ff" angle=45
    }

    // You can also add a border. It's similar to the focus ring, but always visible.
    border {
        // The settings are the same as for the focus ring.
        // If you enable the border, you probably want to disable the focus ring.
        off

        width 2
        active-color "#7fc8ff"
        inactive-color "#505050"

        // Color of the border around windows that request your attention.
        urgent-color "#cc4444"

        // Gradients can use a few different interpolation color spaces.
        // For example, this is a pastel rainbow gradient via in="oklch longer hue".
        // active-gradient from="#e5989b" to="#ffb4a2" angle=45 relative-to="workspace-view" in="oklch longer hue"
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }

    // You can enable drop shadows for windows.
    shadow {
        // Uncomment the next line to enable shadows.
        //on

        // By default, the shadow draws only around its window, and not behind it.
        // Uncomment this setting to make the shadow draw behind its window.
        //
        // Note that niri has no way of knowing about the CSD window corner
        // radius. It has to assume that windows have square corners, leading to
        // shadow artifacts inside the CSD rounded corners. This setting fixes
        // those artifacts.
        //
        // However, instead you may want to set prefer-no-csd and/or
        // geometry-corner-radius. Then, niri will know the corner radius and
        // draw the shadow correctly, without having to draw it behind the
        // window. These will also remove client-side shadows if the window
        // draws any.
        //
        // draw-behind-window true

        // You can change how shadows look. The values below are in logical
        // pixels and match the CSS box-shadow properties.

        // Softness controls the shadow blur radius.
        // softness 30

        // Spread expands the shadow.
        // spread 5

        // Offset moves the shadow relative to the window.
        // offset x=0 y=5

        // You can also change the shadow color and opacity.
        // color "#0007"
    }

    struts {
        left 10
        right 10
        top 0
        bottom 0
    }

    // niri-settings
    insert-hint {
        // off
        color "#ffc87f70"
    }

    tab-indicator {
        hide-when-single-tab
        place-within-column
        corner-radius 4
        width 4
        length total-proportion=1.0
        gap 4
        gaps-between-tabs 2
    }
}

// --- APLICACIONES AL INICIAR & CAPTURAS ---
spawn-at-startup "noctalia"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "hypridle"

hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Set the overview wallpaper on the backdrop.
layer-rule {
    match namespace="^noctalia-(wallpaper|backdrop)$"
    place-within-backdrop true
}

// --- ANIMACIONES ---
animations {
    slowdown 1.0

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-cubic"
    }

    window-close {
        duration-ms 150
        curve "ease-out-cubic"
    }
}

// --- REGLAS DE VENTANAS ---
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
    default-floating-position x=10 y=10 relative-to="bottom-right"
}

window-rule {
    match app-id="zen"
    open-maximized true
    // Cambia la opacidad de la ventana activa e inactiva (0.90 es un gran punto de partida)
    // opacity 0.90
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="^Alacritty$"
    match app-id="alacritty-floating"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="alacritty-floating"
    open-floating true
}

window-rule {
    match app-id="steam"
    open-maximized true
    opacity 0.80
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="org.gnome.Calculator"
    open-floating true
}

window-rule {
    match app-id="org.gnome.Nautilus"
    default-column-width {
        proportion 0.66667
    }
    opacity 0.80
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="discord"
    opacity 0.850
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="nankill.xyz.glassymusic.mod"
    //opacity 0.850
    default-column-width {
        proportion 1.0
    }
    background-effect {
        //blur true
    }
}

window-rule {
    match app-id="dev.noctalia.Noctalia"
    opacity 0.80
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="org.gnome.TextEditor"
    opacity 0.80
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="nankill.xyz.glassymusic.mod"
    opacity 0.70
    background-effect {
        blur true
        xray true
    }
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
    draw-border-with-background false
}

// --- ATAJOS DE TECLADO (BINDS) ---
binds {
    // Noctalia v5.0.0 & Lanzadores
    Mod+D { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+S { spawn "noctalia" "msg" "panel-toggle" "control-center"; }
    Mod+I { spawn "noctalia" "msg" "settings-toggle"; }
    Mod+V { spawn "noctalia" "msg" "panel-toggle" "clipboard"; }
    Mod+O { spawn "noctalia" "msg" "panel-toggle" "session"; }
    Mod+P hotkey-overlay-title="Selector de Fondos de Pantalla" { spawn "noctalia" "msg" "panel-toggle" "wallpaper"; }
    Mod+Slash { show-hotkey-overlay; }
    Super+Shift+S { screenshot; }

    // Aplicaciones
    Mod+Z hotkey-overlay-title="Abrir Zen Browser" { spawn "zen-browser"; }
    Mod+Return hotkey-overlay-title="Abrir Terminal Alacritty" { spawn "alacritty"; }
    Mod+Shift+Return hotkey-overlay-title="Abrir Terminal Alacritty (Flotante)" { spawn "alacritty" "--class" "alacritty-floating"; }
    //Mod+T hotkey-overlay-title="Abrir Terminal Alacritty" { spawn "alacritty"; }
    Super+E { spawn "nautilus"; }

    // Sistema
    Mod+Shift+Slash { show-hotkey-overlay; }
    Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }
    // Super+Alt+L hotkey-overlay-title="Bloquear Pantalla: hyprlock" { spawn "hyprlock"; }
    // Super+Alt+L { spawn "/home/jguerra/.config/hypr/scripts/update-theme-lock"; }
    Mod+Alt+L { spawn "noctalia" "msg" "session" "lock"; }

    // Control de Volumen (Noctalia IPC) & Micrófono
    XF86AudioMicMute allow-when-locked=true { spawn "noctalia" "msg" "mic-mute"; }
    XF86AudioRaiseVolume { spawn "noctalia" "msg" "volume-up"; }
    XF86AudioLowerVolume { spawn "noctalia" "msg" "volume-down"; }
    XF86AudioMute { spawn "noctalia" "msg" "volume-mute"; }

    // Control de Reproducción (MPRIS / playerctl)
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86AudioPause allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }

    // Brillo
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Navegación y Control de Ventanas
    Mod+A repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    // Enfoque (Flechas y Vim)
    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    // Mover Ventanas (Flechas y Vim)
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Down  { move-window-down; }
    Mod+Ctrl+Up    { move-window-up; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H     { move-column-left; }
    Mod+Ctrl+J     { move-window-down; }
    Mod+Ctrl+K     { move-window-up; }
    Mod+Ctrl+L     { move-column-right; }

    // Inicio / Fin de columna
    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    // Control de Monitores
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+J     { focus-monitor-down; }
    Mod+Shift+K     { focus-monitor-up; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Workspaces
    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    // Mod+U              { focus-workspace-down; }
    // Mod+I              { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }
    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // Navegación por Rueda del Mouse
    Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown       cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp         cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+WheelScrollRight           { focus-column-right; }
    Mod+WheelScrollLeft            { focus-column-left; }
    Mod+Ctrl+WheelScrollRight      { move-column-right; }
    Mod+Ctrl+WheelScrollLeft       { move-column-left; }
    Mod+WheelScrollDown            { focus-column-right; }
    Mod+WheelScrollUp              { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Workspaces por Índice (1 - 9)
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Agrupar y Extraer de Columnas
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }
    Mod+Comma        { consume-window-into-column; }
    Mod+Period       { expel-window-from-column; }

    // Tamaño y Disposición de Ventanas
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    // Ajuste Fino de Ancho/Alto
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Flotante y Pestañas
    Mod+B       { toggle-window-floating; }
    Mod+Shift+B { switch-focus-between-floating-and-tiling; }
    Mod+W       { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}


include "noctalia.kdl"
