layout {

    focus-ring {
        active-color   "#ffaedc"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffaedc"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffaedc"
        inactive-color "#752a5d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffaedc80"
    }
}

recent-windows {
    highlight {
        active-color "#ffaedc"
        urgent-color "#ffb4ab"
    }
}
