layout {

    focus-ring {
        active-color   "#ddbecd"
        inactive-color "#151314"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ddbecd"
        inactive-color "#151314"
        urgent-color   "#ffb4ab"
    }


    tab-indicator {
        active-color   "#ddbecd"
        inactive-color "#2e1b26"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ddbecd80"
    }
}

recent-windows {
    highlight {
        active-color "#ddbecd"
        urgent-color "#ffb4ab"
    }
}
